/* FONTS */

h1{
  font-family: 'Montserrat' ;
  font-weight: 700;
  font-size: 58px;
  line-height: 100%;
  margin-top: 0;
}

h2{
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 28px;
  line-height: 110%;
}

h3{
  font-family: 'Roboto';
  color:gray;
  font-size: 22px;
  line-height: 130%;
  font-weight: 400;
}

h4{
  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 150%;
  font-weight: 200;

}

h5{
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;

}

h6{
  font-size: 14px;
  line-height: 120%;
}

p{
  /* 'Helvetica Neue' */
font-family: 'Roboto';
color: gray;
font-size: 18px;
line-height: 130%;
font-weight: 400;
font-style: normal;
}

.blue-text{
  color:#006AFF
}

.white-text{
  color:white;
}

.gray-text{
  color:gray;
}

.lightgray-text{
  color:lightgray;
}

/* BACKGROUNDS */

.hero-bg{
  background-image: url("../img/svg/hero.svg");
}

.example-bg{
  background-image: url("../img/examplepic.png");
  background-size:contain;
}

.gray-bg{
  background-color: #F3F5F9;
}

.blue-bg{
  background-color: #162A9B;
}

.dark-blue-bg{
  background-color: #0B1C4A;
}

.white-bg{
  background-color: white;
}

/* ITEMS */

.white-button {
  color:#006AFF;
  border:1px solid #006AFF;
  border-radius: 5px;
  background-color: white;
  width:80px;
  height:40px;
  line-height: normal;
}

.blue-button{
  background-color: #679AF7;
  color: white;
  border: 1px solid blue;
}

.google-button{
  background-color: white;
  border:0px;
  box-shadow: 2px 2px lightgray;
}

a{
  color:#006AFF;
}

/* D-BUg */

.section-border{
  border:1px solid black;
}

.container-border{
  border:2px solid lightgreen;
}

.row-border {
 border: 1px solid blue;
}

/* [class*="col-"]{
  border:1px solid violet;
} */

/* HELPER */
.emc2{
  position:relative
}

.pt-20{
  padding-top:20px;
}

.pb-20{
  padding-bottom:20px;
}

.mt-20{
  margin-top:20px;
}

.mb-20{
  margin-bottom:20px;
}

/* NAV */

.section-nav img{
height:50px;
margin-bottom: 25px;
margin-top:25px;
padding:10px;
padding-left:0;
}

nav div ul {
  list-style: none;
  font-weight: 500;
}

nav div ul li {
  display: inline;
  margin-left: 20px;
  line-height: 100px;
}

nav button i{
  color:#006AFF;
}

.burger-button{
  border:0px;
  background-color: white;
  height:100px;
  margin-bottom: 0;
  text-align: right;
}

/* JUMBOTRONE */
.section-jumbotrone{
  padding-top:50px;
  padding-bottom: 50px;
}

.section-jumbotrone h3{
  font-size: 22px;
}

/* FORM CONTAINER */

.form-container{
  text-align: center;
  border:1px solid blue;
  border-radius: 5px;
  background-color: white;
  padding-bottom:30px;
}

.form-container input,button{
  width:100%;
  margin-bottom:15px;
  border-radius: 5px;
  border:1px solid lightgray;
}

.form-container input{
  line-height: 40px;
}

.form-container button{
  height:30px;
}

/* SECTION SPONSOR */

.section-sponsor{
  text-align: center;
  padding-top:30px;
  padding-bottom: 30px;
}

.section-sponsor img{
  height:100%;
  margin-top: 30px;
  margin-bottom:30px;
}

/* SECTION DEPLOY AND SCALE */
.section-depandscale{
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-depandscale h2, .section-depandscale h3{
  text-align: center;
}

.section-depandscale ul{
  list-style:none;
  margin-top: 40px;
  border-left: 2px solid lightgray;
  padding-left:10px;
}

.section-depandscale ul li{
  color:gray;
  font-size: 22px;
  line-height: 300%;
}

.section-depandscale img{
  margin-top: 40px;
  margin-bottom:10px;


}

/* SECTION DESIGNED FOR */

.section-designedfor{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-designedfor img{
  width:100%;
}

.section-designedfor [class*="fa-angle"]{
  padding-top:150px;
}

.section-designedfor h3{
  margin-bottom:50px;
}

/* SECTION FEATURES */
.section-features{
  padding-top:50px;
  padding-bottom:50px;
}

.section-features h2{
  text-align: center;
}

.section-features img{
  margin-top: 30px;
}

/* TABLE SECTION */

.section-table{
  padding-top: 50px;
  padding-bottom:50px;
}

.section-table h2{
  text-align: center;
}

.t-container{
  margin-left:0px;
  margin-right:0px;
  margin-top:30px;
}

.t-container > div{
  border-bottom: 2px solid lightgray;
  border-radius: 2px;
  line-height:40px;
}

.t-container > div :first-child{
  padding-left: 10px;
}

.t-container > div :last-child{
  color:#6CCBCE;
  text-align: right;
  padding-right: 10px;
}

.t-container :last-child{
  border:0px;
}

.t-container div div:nth-child(2){
  color:lightgray;
  font-size: 12px;
  font-weight: bold;
}

/* SECTION LOVE DIGITALOCEAN */
.section-lovedigitalocean{
  text-align: center;
  padding-top:50px;
  padding-bottom: 50px;
}

.section-lovedigitalocean h2{
  margin-bottom: 50px;
}

.section-lovedigitalocean img{
  width:60%;
}

.section-lovedigitalocean [class*="fa-angle"]{
  padding-top: 159px;
}

.section-lovedigitalocean .div-container{
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-lovedigitalocean .name{
  font-weight: bold;
}

/* SECTION GET STARTED */
.section-getstarted{
  text-align: center;
  padding-top:50px;
  padding-bottom:50px;
}

.section-getstarted button{
  background-color: white;
  border:1px solid #006AFF;
  width:170px;
  height:40px;
}

/* SECTION FOOTER */
.section-footer{
  padding-top:50px;
  padding-bottom:50px;
  font-weight: bold;
}

.section-footer .proud-opacity{
  opacity:0.6;
}

.section-footer i{
  margin-right:10px;
}

.section-footer ul{
  list-style: none;
  padding:0;
}

.section-footer ul :not(:first-child){
  color:gray;
}

.section-footer ul li{
  margin-top: 10px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px){

  .display-none-xs {
		display: none;
	}

}

@media screen and (min-width: 992px) and (max-width: 1199px){

  .display-none-md {
		display: none;
	}

}

@media screen and (min-width: 1200px){

  .display-none-lg {
		display: none;
	}

}
